<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.rag.mapper.VectorSearchMapper">

 <select id="search" resultType="com.example.rag.dto.DocumentChunk">
  <![CDATA[
  SELECT content
  FROM (

        (
         SELECT
          content,
          1 - (embedding <-> #{vector}::vector) AS score
         FROM document
               LIMIT 3
        )

        UNION ALL

        (
         SELECT
          content,
          ts_rank(
                  to_tsvector('english', content),
                  plainto_tsquery('english', #{question})
          ) AS score
         FROM document
         WHERE to_tsvector('english', content)
                           @@ plainto_tsquery('english', #{question})
          LIMIT 3
        )

       ) t

  ORDER BY score DESC
   LIMIT 3
  ]]>
 </select>

</mapper>